<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupController</servlet-name>
        <servlet-class>controller.signupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePageController</servlet-name>
        <servlet-class>controller.homePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopController</servlet-name>
        <servlet-class>controller.shopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryController</servlet-name>
        <servlet-class>controller.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerController</servlet-name>
        <servlet-class>controller.managerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductController</servlet-name>
        <servlet-class>controller.deleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>controller.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductController</servlet-name>
        <servlet-class>controller.updateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProductController</servlet-name>
        <servlet-class>controller.searchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controller.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>controller.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCartController</servlet-name>
        <servlet-class>controller.showCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartController</servlet-name>
        <servlet-class>controller.updateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartController</servlet-name>
        <servlet-class>controller.deleteCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePageController</servlet-name>
        <url-pattern>/homePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopController</servlet-name>
        <url-pattern>/shopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryController</servlet-name>
        <url-pattern>/categoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerController</servlet-name>
        <url-pattern>/managerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductController</servlet-name>
        <url-pattern>/deleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductController</servlet-name>
        <url-pattern>/updateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProductController</servlet-name>
        <url-pattern>/searchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/productController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCartController</servlet-name>
        <url-pattern>/showCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartController</servlet-name>
        <url-pattern>/updateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartController</servlet-name>
        <url-pattern>/deleteCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
